body{
    font-family: 'Tangerine', cursive;
    font-family: 'Playfair Display', serif;
    background-color: #102D30 ;
    color: #E2DEDD;
/* other color in use #56716A
specifically for the background of the individual divs*/
}

img{
    height: 4vw;
    margin-left: 5vw;
    margin-right:5vw;
}

.icon_01d {
    background-image: url("img/01d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .icon_02d {
    background-image: url("img/02d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_03d {
    background-image: url("img/03d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_04d {
    background-image: url("img/04d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_09d {
    background-image: url("img/09d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_10d {
    background-image: url("img/10d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_11d {
    background-image: url("img/11d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_13d {
    background-image: url("img/13d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .icon_50d {
    background-image: url("img/50d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }



h1{
    font-family: 'Tangerine', cursive;
    font-size: 5em;
    text-align: center;
}

h3{
    font-family: 'Tangerine', cursive;
    font-size: 3em;
    text-align: left;
    margin-left: 40px;;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 8em;
    text-align: left;
    margin-left: 40px;
}

h4{
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}

h6{
    font-size: 1em;
    text-align: center;
    font-weight: 400;
}

.header{
    height: 400px;
    width: 85vw;
    margin-left: 6vw;
    margin-right: 6vw;
    display:grid;
    grid-template-columns:1fr 1fr;
}

.current_temp{
    background-color:#56716A;
    height: 400px;
    width: 50vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.location{
    background-color:#56716A;
    height: 400px;
    width: 35vw;
    margin-left: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.img1{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-left: 5vw;
    margin-right: 5vw;
}

#raindrop{
    margin-left: 150px;
    margin-top: 80px;
    height:20px;

}

.weather_details{
    display:grid;
    grid-template-rows:  40px 40px 80px 90px 90px;
}

.location_specifics{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 30px;
}

input#zip_1{
    text-align: center;
    margin-top: 50px;
    margin-left:5vw;
    margin-right:5vw;
    width: 160px;
}

input{
    background-color:  #102D30 ;
    height: 40px;
    width:120px;
    color: #E2DEDD;
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
    text-align: center;
}

.input{
    visibility: hidden;
}
/*EVERTHING ABOVE IS JUST FOR THE TOP PIECE*/


/*everything below is 10 day forecast*/


.ten_day{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height:700px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.raindrop2{
    display:grid;
    grid-template-columns: 1vw 15vw;
}

#raindrop_2{
    height:20px;
    margin-left: 7vw;
    margin-top:35px;
}


.day{
    background-color: #56716A;
    height: 30vw;
    width: 15vw;
    margin-bottom:20px;
}

.changes{
    display:grid;
    grid-template-rows: 4vw 3vw 5vw 5vw;
    text-align: center;
}

.moon_phase{
    text-align: center;

}

/*everything above is 10 day forecast*/


/*everything below is hourly forecast forecast*/


#map{
    height:600px;
    width: 450px;
    margin-left:40vw;
}




.hourly{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height:1400px;
    margin-left: 5vw;
    margin-right: 5vw;
}

#rain_hourly1{
    height: 20px;
    margin-top: 15px;
}

#stormy{
    height:40px;
}

.hour_slot{
    background-color: #56716A;
    height: 200px;
    width: 40vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
}





/* tablet size 768px x 1024px edits*/
@media screen and (max-width: 1024px) and (min-width: 768px) {

    .header{
        height: 400px;
        width: 85vw;
        margin-left: 9vw;
        margin-right: 6vw;
        display:grid;
        grid-template-columns:1fr 1fr;
    }

    .input{
        visibility: visible;
        margin-left:35vw;
        margin-bottom:40px;
    }
    input{
        background-color: #56716A;
        height: 40px;
        width:300px;
        color: #E2DEDD;
        font-family: 'Playfair Display', serif;
        font-size: 12pt;
        text-align: center;
    }

    .location{
        visibility: hidden;
    }

    .current_temp{
        background-color:#56716A;
        height: 400px;
        width: 80vw;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .img1{
        display:grid;
        grid-template-columns: 60px 80px;
        margin-left: 15vw;
        margin-right: 2vw;
    }

    #raindrop{
        margin-top: 80px;
        margin-right: 55px;
    }

    .day{
        background-color: #56716A;
        height: 40vw;
        width: 16vw;
        margin:auto;
    }

    #raindrop_2{
        margin-top: 40px;
    }

    .raindrop2{
        display:grid;
        grid-template-columns: 8.5vw 0vw;
    }

    .changes{
        display:grid;
        grid-template-rows: 5vw 5vw 4vw 9vw 4vw 8vw;
        text-align: center;
    }

    #map{
    
        height:600px;
        width: 450px;
        margin-left: 30vw;
    }
}






 /* Phone Styles width 767px */
 @media screen and (max-width: 767px) {

    img{
        height: 4vw;
        margin-left: 17vw;
        margin-right:5vw;
    }

    .header{
        height: 400px;
        width: 85vw;
        margin-left: 6vw;
        margin-right: 6vw;
        display:grid;
        grid-template-columns:1fr 1fr;
    }
    .input{
        visibility: visible;
        margin-left:20vw;
        margin-bottom:40px;
    }
    input{
        background-color: #56716A;
        height: 40px;
        width:300px;
        color: #E2DEDD;
        font-family: 'Playfair Display', serif;
        font-size: 12pt;
        text-align: center;
    }

    .location{
        visibility: hidden;
    }

    .current_temp{
        background-color:#56716A;
        height: 400px;
        width: 85vw;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .ten_day{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        height:1300px;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .day{
        background-color: #56716A;
        height: 65vw;
        width: 40vw;
        margin:auto;
        margin-bottom:20px;
    }


    .changes{
        display:grid;
        grid-template-rows: 9vw 8vw 8vw 13vw 4vw 10vw;
        text-align: center;
    }

    .raindrop2{
        display:grid;
        grid-template-columns: 9vw 8vw;
        margin-left: 10vw;
    }

    
    #map{
        height:400px;
        width: 400vw;
        margin-left:13vw;
    }

    .hourly{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height:1400px;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .hour_slot{
        background-color: #56716A;
        height: 200px;
        width: 85vw;
        margin-left: 1vw;
        margin-bottom: 30px;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .hourly_percent{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .hourly_percent{
        margin-right: px;
    }






 }