body{
    font-family: 'Tangerine', cursive;
    font-family: 'Playfair Display', serif;
    background-color: #102D30 ;
    color: #E2DEDD;

/* other color in use #56716A
specifically for the background of the individual divs*/

}